body {
  font-family: "Century Gothic", 'Lato', sans-serif;
}
a {
  text-decoration: none;
}
.carousel{
  z-index: 0;
}
.et-hero-tabs{
  background-image:url("assets/logo.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: black;
  z-index: 101;

  
}
.et-hero-tab a{
  z-index: 101;
}
.et-hero-tabs h3{
  color: whitesmoke;
  padding-top: 125%;
}
.et-hero-tabs, .et-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  position: relative;
  /* background: #eee; */
  text-align: center;
  padding: 0 2em;
}
.et-hero-tabs{
  height: 90vh;
}
.et-slide-experience{
  height: 90vh;
}
.et-slide-carta{
  height: 145vh;
}
.et-slide-cocktails{
  height: 320vh;
}
.et-slide-contacto{
  height: 100vh;
}
.et-slide-galeria{
  height: 100vh;
}
.et-hero-tabs h1, .et-slide h1 {
  font-size: 2rem;
  margin: 30px;
  letter-spacing: 1rem;
}
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}
.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}
.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.et-hero-tab:hover {
  color: white;
  background: black;
  transition: all 0.5s ease;
}
.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66b1f1;
  transition: left 0.3s ease;
}

/* TYPING */


.typing-demo {
  width: 11ch;
  animation: typing1 2.4s steps(11), blinka .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: Verdana;
  font-size: 2em;
}

@keyframes typing1 {
  from {
    width: 0
  }
}
    
@keyframes blinka {
  0% {
    border-color: transparent
  }
}
.pp{
  color: white;
}
.typing-demo1 {
  width: 16ch;
  animation: typing 2s steps(16), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
  font-family: Verdana;
  font-size: 12px;
  animation-delay: 2.8s;
  animation-fill-mode: backwards;
  margin-top: -10px;
}
@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


/* CONTACTO */
.reservas{
  text-align: justify;
  /* margin-top: 3rem; */
}
.rrssh6{
  margin-top: 2rem;
}
.rrss{
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-right: 1.7rem;
}


/* FOTOS */
.fotos{
display: flex;
flex-direction: row;
}

/* WAASAP */
.wasap{
  margin-top: 100px;
}

/* WASAP2 */
/* for desktop */
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: white;
  color: black;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 0;
}

.whatsapp-icon {
  margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
      margin-top: 10px;
  }

  .whatsapp_float {
      width: 40px;
      height: 40px;
      bottom: 20px;
      right: 10px;
      font-size: 22px;
  }
}


/* CARTA */
/* .wrapper-cart {
  padding: 2em 1em;
  background: #fff;
  columns: 100px 2;
  column-gap: 32px;
} */
@media (min-width: 600px) {
  .wrapper-cart {
    padding: 1em calc(50% - 300px);
 }
}
.item {
  border-bottom: 1px dotted #c5c5c5;
  break-inside: avoid;
  display: flex;
  justify-content: space-between;
}
span {
  font-family: "Teko", sans-serif;
  margin-bottom: -4px;
  background: #fff;
  padding: 4px;
  color: #555;
}
.list-title {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  color: #e67437;
  margin-bottom: 32px;
}
.list {
  margin-bottom: 32px;
}

/* COCKTAILS */

.list p{
  font-size: 12px;
}
.h2-title{
  margin-top: 45px;
}

/* QUERYS */
@media (min-width: 800px) {
  .et-hero-tabs{
    height: 100vh;
  }
  .et-hero-tabs h1, .et-slide h1 {
    font-size: 3rem;
 }
  .et-slide h3 {
    font-size: 1rem;
 }
  .et-hero-tab {
    font-size: 1rem;
 }
 .et-hero-tabs h3{
   font-size: 3rem;
   padding-top: 25%;
 }
 .typing-demo1 {
  margin-top: -55px;
}
.pp{
  font-size: 2rem;
}
.typing-demo1 {
 
  margin-top: 0px;
}
.whatsapp_float {
  z-index: 100;
}
}
@media (max-height: 670px) {
  .et-hero-tabs{
    height: 100vh;
  }
  .et-slide-experience{
    height: 110vh;
  }
  .et-slide-carta{
    height: 165vh;
  }
  .et-slide-cocktails{
    height: 400vh;
  }
  .et-slide-contacto{
    height: 100vh;
  }
  .et-slide-galeria{
    height: 100vh;
}
}
 

